/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .full-header {
    margin: 0 auto;
    width: 1920px;
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
}
.header-block {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.icon {
    width: 44px;
    height: 44px;
    margin-right: 25px;
}
.navigation {
    margin-left: 1350px;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
}
.navigation li {
    list-style-type: none;
    margin-left: 15px;
}
.container {
    margin: 0 auto;
}
.company-info {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.info {
    position: relative;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 45px 45px 0 0;
}
.company {
    position: absolute;
    width: 234px;
    height: 234px;
    top: 150px;
    margin-left: 20px;
}
.name-button {
    display: flex;
    justify-content: space-between;
}
.send-button {
    margin-left: 65px;
    background: #087DBF;
    border: #087DBF;
    color: white;
    border-radius: 25px;
    text-align: center;
    width: 225px;
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
}
.send-arrow {
    margin-right: 10px;
}
.name-place {
    margin-left: 270px;
    margin-top: 15px;
    margin-bottom: 100px;
}
.name-place h3 {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.operating-place {
    color: rgba(80, 80, 80, 0.5);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.about {
    padding: 15px;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    margin: 0 auto;
    width: 1643px;
}
.about h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}
.about p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: black;
    margin-bottom: 20px;
}
.vacancies {
    margin: 0 auto;
    margin-top: 50px;
}
.vacancies h4 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    margin-left: 130px;
    margin-bottom: 50px;
}
.vacancy-info {
    margin: 0 auto;
    display: flex;
    background: #EFEFEF;
    border: 0.5px solid #D9D9D9;
    border-radius: 0px 0px 30px 30px;  
    width: 1643px; 
    justify-content: center;
}
th {
    background: #087DBF;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
}
td {
    border-bottom: 1px solid #999;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    padding-right: 150px;
    padding-left: 10px;
}
