/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header-block {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 55px 0;
}
.logo-wrapper {
    display: flex;
}
.header-block h1 {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.header-block a {
    text-decoration: none;
    color: black;
}
.icon {
    width: 44px;
    height: 44px;
    margin-right: 25px;
}
.navigation a {
    text-decoration: none;
    color: black;
}
.navigation ul { 
    display: flex;
    align-items: center;
}
.navigation li {
    list-style-type: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.navigation li:last-child {
    margin-right: 0;
}
.login-join {
    background: #F4F4F4;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
}
.login-join:hover {
    background: #087DBF;
    transition: all 0.3s linear;
}
.container {
    margin: 0 auto;
    max-width: 1440px
}
.website-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-block {
    width: 50%;
    max-width: 800px;  
}

.left-block h1 {
    color: #087DBF;
    font-weight: 700;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    line-height: 123%;
    margin-bottom: 40px;
}
.welcome-img {
    max-width: 800px;
} 
.options {
    display: flex;
}
.freelancing-hiring {
    margin-right: 200px;
    min-width: 300px
}
.freelancing-hiring h5 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.freelancing-hiring p {
    font-weight: 300;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.freelancing-hiring a {
    color: #087DBF;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.buttons-block {
    display: none;
    text-align: center;
    margin-top: 30px;
}
.button {
    color: white;
    background: #087DBF;
    border: none;
    padding: 5px 30px 5px 30px;
    border: 1px solid #087DBF;
    border-radius: 30px;
    font-size: 20px;
    margin-right: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.footer-info {
    margin-top: 175px;
    display: flex;
    padding: 30px;
    background-color: black;
    border: 1px solid black;
    justify-content: space-between;
}
.copyright {
    display: flex;
    align-items: center;
}
.copyright p {
    color: white;
    margin-left: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.terms {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    justify-content: space-between;
    padding-left: 30%;
}
.social-icons {
    padding-left: 35%;
}
.social-icons a {
    margin-right: 10px;
    text-decoration: none;
}
@media (max-width: 1024px) {
    .header-block h1 {
        display: none;
    }
    .navigation {
        margin-left: 10px
    }
    .welcome-img {
        display: none;
    }
    .website-info{
        max-width: 500px;
    }
    .website-info h1 {
        text-align: center;
        font-size: 30px;
    }
    .left-block {
        width: 100%;
    }
    .login-join {
        display: none;
    }
    .freelancing-hiring {
        margin-right: 20px;
        display: block;
    }
    .freelancing-hiring h5 {
        font-size: 20px;
    }
    .footer-info {
        padding: 10px;
    }
    .copyright {
        padding-left: 10px;
    }
    .copyright p {
        font-size: 10px;
    }
    .terms {
        font-size: 10px;
        text-align: center;
    }
    .buttons-block {
        display: block;
    }
    .social-icons {
        padding-right: 100px;
   }
}
